/****************************************************
		Project Name: LMS;
		Project Date: 21-01-2021;
		Client Name: LEDP;
		Developer: SATech360;
	*********************************
	---------------------------------
	Project Section
	---------------------------------
	1.Topbar
	2.Header
	3.Slider
	4.About US
	5.Course
	6.Fatcs
	7.Recent News
	8.Test
	9.CTA
	10.Footer
*****************************************************
*****************************************************/

/****************************************************
	Bass CSS Start
*****************************************************/
	*,body{
		padding: 0;
		margin: 0;
		font-family: 'Raleway', sans-serif;
	}
	a{
		text-decoration: none;
	}
	a:hover{
		text-decoration: none;
	}
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
	}

/****************************************************
	Bass CSS End
*****************************************************/
/****************************************************
	Common CSS Start
*****************************************************/
.btn{
	border-radius: 0px !important;
}
.card{
	border-radius:  0px !important;
}
.f-color{
	color: #56ab2f;
}
.s-color{
	color: #feffff;
}
.t-color{
	color: #1e1d1d;
}
.f-bg{
	background: #56ab2f;
}
.s-bg{
	background: #feffff;
}
.t-bg{
	background: #1e1d1d;
}
/****************************************************
	Common CSS End
*****************************************************/
/****************************************************
	Topbar CSS Start
*****************************************************/
.topbar{
	height: 49px;
	line-height: 49px;
}
.left-top li{
	padding-left: 10px;
}
.left-top li:first-child{
	padding-left: 0px !important;
}
.right-top li:last-child{
	padding-left: 10px;
}
.line-after::after{
	content: "|";
	color: white;
	padding-left: 10px;
}
/****************************************************
	Topbar CSS End
*****************************************************/
/****************************************************
	Header CSS Start
*****************************************************/
.brd{
	background: #56ab2f !important;
	border-radius: 50% !important;
}
.nav-link{
	font-weight: 700;
}
/****************************************************
	Header CSS End
*****************************************************/
/****************************************************
	Slider CSS Start
*****************************************************/


/****************************************************
	Slider CSS End
*****************************************************/
/****************************************************
	About US CSS Start
*****************************************************/


/****************************************************
	About US CSS End
*****************************************************/
/****************************************************
	Course CSS Start
*****************************************************/


/****************************************************
	Course CSS End
*****************************************************/
/****************************************************
	Fatcs CSS Start
*****************************************************/


/****************************************************
	Fatcs CSS End
*****************************************************/
/****************************************************
	Recent News CSS Start
*****************************************************/


/****************************************************
	Recent News CSS End
*****************************************************/
/****************************************************
	Test CSS Start
*****************************************************/


/****************************************************
	Test CSS End
*****************************************************/
/****************************************************
	CTA CSS Start
*****************************************************/


/****************************************************
	CTA CSS End
*****************************************************/
/****************************************************
	Footer CSS Start
*****************************************************/


/****************************************************
	Footer CSS End
*****************************************************/